<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OxfordKey" value="" />
    <add key="EventHubTokenApiEndpoint" value="" />
    <add key="DeviceId" value="" />
    <add key="ServiceBusNamespace" value="" />
    <add key="EventHub" value="" />
    <add key="EventHubPolicyName" value="" />
    <add key="Location" value="" />
    <add key="DeviceName" value="" />
  </appSettings>
</configuration>